# Local environment files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
jspm_packages/
bower_components
web_modules/

# Build output
#dist/
build/
.cache
.parcel-cache
.next
out
.nuxt
.vuepress/dist
.temp
.docusaurus
.serverless/
.fusebox/
.dynamodb/
**/.vitepress/dist
**/.vitepress/cache

# Misc
lib-cov
.lock-wscript
*.tsbuildinfo
.rpt2_cache/
.rts2_cache_*
.node_repl_history
*.tgz
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.vscode-test
.tern-port
"node_modules/" 
